# Ignore the videos and csv because they are too big
*.MP4
*.MOV
*.XML
*.MTS
*.DJI
*.THM
*.jpg
*.SRT
*.LRF
*.png

# Ignore these specific files
Sat_board_GPS.csv
Synced_Board_Accel.csv

# ignore these folders
Axivity/
Clipped/
RawData/