# Ignore the videos and csv because they are too big
*.MP4
*.MOV
*.XML
*.MTS
*.DJI
*.THM
*.jpg
*.SRT
*.LRF

# Ignore these specific files
Sat_board_GPS.csv
Synced_Board_Accel.csv

# ignore these folders
Data/
Output/